@import 'sources/styles/mixins.scss';

.table {
  width: 80%;
  margin: 0 auto;

  .header {
    background-color: rgb(190, 195, 195);

    .title {

      border: 1px solid rgb(136, 134, 134);
      padding: 0 10px 0 10px;
      @include text-style(18px, 700, $color: #393a3b, $family: 'Lucida Sans Unicode');
    }
  }

  .body {

    .row {
      .item {
        border: 1px solid rgb(158, 155, 155);
        padding: 0 10px 0 10px;
        @include text-style(14px, $color: #393a3b, $family: 'Lucida Sans Unicode')
      }
    }
  }
  margin-bottom: 50px;
}

.pagesWrapper {
  width: 80%;
  margin: 0 auto;
}