@import 'sources/styles/mixins.scss';

.contentWrapper {
  overflow-y: scroll;
  overflow-x: hidden;

  .title {
    margin: 20px 0px 50px 40px !important;
    @include text-style(19.5px, 500, 29.25px, $color: #ffffff);
  }

  .cardWrapper {
    cursor: pointer;
    height: 68px;
    @include flex(center);
    padding: 0px 0px 0px 40px !important;
    @include text-style(18.5px, 500, 27.75px, $color: #ffffff);

    &:hover {
      background-color: #ffffff;
      color: #141D53;
    }
  }

  .active {
    background-color: #ffffff;
    color: #141D53;
  }
}
