@import 'sources/styles/mixins.scss';

.wrapper { 
    @include text-style(20px);
    .image { 
        float: left;
        margin-right: 20px;
    }

   /*  .image { 
       float: ;
    } */

     
}