//Fonts
$font1: 'DM Sans';
$defaultFont: 'DM Sans',
sans-serif;

// Sizes
$defaultFontSize: 14px;



//  Colors 
$fontGray: #A6A6A6;
$background1: #242424;
$background2: #12986F0D;

$contentBackground: #F5F5F5;
$pageBackground: #46596D;
$menuText: rgb(105, 18, 18);
$menuActiveText: rgba(255, 255, 255, 1);
$invert: none;


//Variables 

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1320;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;